@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import "./utils/variables";

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
 
}
header {
    box-shadow: 0px 5px 10px rgba(50, 50, 50, 0.2);
    img {
        display: block;
        width: 50%;
        max-width: 300px;
        padding: 30px 0 20px 0;
        margin-left: auto;
        margin-right: auto;
    }
}
.localisation{
    background: rgba(219, 219, 219,0.5);
    .__contentLocalisation{
        display: block;
        text-align: center;
        padding: 20px 0;
         i{
             padding-right: 10px;
        }
    }
}
.reservation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $cream;
    text-align: center;
    padding: 20px 0;
    &>*{
        margin: 20px 0;
    }
    h1,p{
       width: 76%;
       margin: 10px 0;
    }
    .__bigBtn{
        background: linear-gradient(170deg ,$pink,$violet);
        display: block;
        width: 220px;
        padding:10px 0px;
        border-radius: 20px; 
        @include ombre-btn;
        &:hover{
             @include ombre-btn-survol;
         }
    }
    a{
         text-decoration: none;
         color: white;
         font-weight: 500;    
    }
}
.fonctionnement{
   @include centrer-bloc;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
    h1{
        width: 100%;
         text-align: left;
        }
   .__etape{
        width: calc(100% - 10px);
        transform: translateX(5px);
        height: 70px;
        margin: 10px 0;
        line-height: 70px;
        background:$cream;
        border-radius: 20px;
        font-weight: 500;
        &:last-child{
            background-color: lighten($violet, 35);
        }
        i{
            padding:0 15px;
            color:darken($light-grey, 40);
            
        }
        &:last-child i{
            color: $violet;
        }
        .--circle{
            display: inline-block;
            background-color: $violet;
            width: 20px;
            height:20px;
            font-size: 0.8em;
            text-align: center;
            line-height: 20px;
            border-radius: 20px;
            color: white;
            transform: translateX(-10px);  
        }
   }
} 
.restaurant{
    background-color: $cream;
    @include centrer-bloc;
    a{
        text-decoration: none;
        color: black;
    }
    .__articleResto{
        background-color: white;
        width: 100%;
        border-radius: 20px;
        margin-bottom: 20px;
        img{
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        .__basArticle{
            display: flex;
            flex-wrap: nowrap;
            justify-content: left;
            padding-bottom:20px ;
            padding-top:10px ;
            p,h2{
                margin:0px 0 0 16px;
            }
            i{
                margin-top: 5px;
                margin-left: 40px;
                width: 25px;
                height: 25px;
                text-align: center;
                font-size: 1.5em;
                line-height:30px ; 
                }
            .__texteArticle{
                width: 250px;
                
            }   
         }
     }
}
footer{
    background-color:$footblack ;
    padding-bottom: 50px;
    font-size: 0.9em;
    @include centrer-bloc;
    a{
        color: white;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    .listeFooter{
        padding:0;
        list-style: none;
        .__ligneFooter{
            line-height: 25px;
            i{
                margin-right: 10px;
            }
        }
    }
}
.__petitLogo{
    margin-bottom: 10px;
    width: 120px;
    filter: invert(100%) sepia(100%) saturate(30%) hue-rotate(118deg) brightness(106%) contrast(109%);
}
