@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}
header img {
  display: block;
  width: 50%;
  max-width: 500px;
  padding: 30px 0 20px 0;
  margin-left: auto;
  margin-right: auto;
}

#localisation {
  text-align: center;
  font-weight: 500;
  padding: 20px 20px 20px 0;
  color: #1a1a1a;
  background: #e6e6e6;
  box-shadow: inset 0px 11px 8px -10px gray;
}
#localisation span i {
  margin-right: 15px;
  font-size: 1.2em;
}

#reservation {
  width: 100%;
  padding: 30px 0 30PX 0;
  text-align: center;
  background-color: #f6f6f6;
}
#reservation h1 {
  width: 80%;
  font-size: 1.7em;
  font-weight: 600;
  margin: 20px auto;
}
#reservation p {
  width: 80%;
  font-weight: 200;
  margin: 20px auto;
}

#grosBtn {
  width: 220px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  background-color: #FF79DA;
  background-size: 100%;
  font-weight: 500;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
}
#grosBtn:hover {
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
}
#grosBtn a {
  display: block;
  text-decoration: none;
  color: white;
}

#fonctionnement {
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
}

.etape {
  width: 320px;
  background: #f6f6f6;
  height: 70px;
  line-height: 70px;
  border-radius: 20px;
  font-weight: 600;
  margin: 20px auto;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
}
.etape:hover {
  background: #f2eafb;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
}
.etape:last-child {
  background: #f2eafb;
}
.etape:last-child i {
  color: #9356DC;
}
.etape span {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #9356DC;
  color: white;
  border-radius: 50px;
  text-align: center;
  transform: translate(-15px);
}
.etape:hover i {
  color: #9356DC;
}
.etape i {
  margin-right: 15px;
  color: rgba(0, 0, 0, 0.5);
}

#restaurant {
  background-color: #f6f6f6;
  margin-top: 60px;
  padding: 20px 0;
}
#restaurant h1 {
  width: 80%;
  font-size: 1.7em;
  font-weight: 600;
  margin: 20px auto;
  width: 90%;
}
#restaurant a {
  text-decoration: none;
  color: #000000;
}
#restaurant article {
  margin: 0 auto;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
}
#restaurant article:hover {
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
}
#restaurant article:last-child img {
  object-position: 50% 80%;
}
#restaurant article img {
  object-fit: cover;
  width: 100%;
  height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-position: 50% 61%;
}

.basArticle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.texteArticle {
  width: 200px;
}

.basArticle h2 {
  font-size: 1.3em;
  margin: 0;
  padding-top: 10px;
}

.basArticle p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 15px;
}

.basArticle i {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 1.5em;
  line-height: 30px;
  background: -webkit-linear-gradient(rgba(147, 86, 220, 0), rgba(255, 121, 218, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}

.basArticle i:hover {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px;
  -webkit-text-stroke-color: black;
}

footer {
  background-color: #353535;
  padding-bottom: 50px;
}

footer ul {
  padding: 0;
  margin: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  list-style: none;
}

footer ul li {
  line-height: 25px;
}

footer ul li i {
  font-size: 0.9em;
  margin-right: 10px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

#petitLogo {
  margin-bottom: 10px;
  width: 120px;
  filter: invert(100%) sepia(100%) saturate(30%) hue-rotate(118deg) brightness(106%) contrast(109%);
}

@media screen and (min-width: 601px) {
  #fonctionnement {
    padding-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }

  #fonctionnement h1 {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .etape {
    justify-content: space-around;
    margin-top: 20px;
    width: 270px;
  }

  .etape span {
    display: inline-block;
    transform: translate(-15px, -35px);
  }

  #restaurant h1 {
    text-align: center;
  }

  #restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
  }

  #restaurant article {
    margin-bottom: 40px;
    width: 45%;
  }

  footer {
    padding-bottom: 30px;
  }

  footer ul li {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
